<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>index</key>
		<integer>0</integer>
		<key>expInside</key>
		<integer>0</integer>
		<key>expOutside</key>
		<integer>0</integer>
		<key>contrast</key>
		<integer>2</integer>
		<key>tintIndex</key>
		<integer>0</integer>
		<key>ellipseCenterX</key>
		<integer>0</integer>
		<key>ellipseCenterY</key>
		<integer>0</integer>
		<key>ellipseA</key>
		<integer>0</integer>
		<key>ellipseB</key>
		<integer>0</integer>
		<key>ellipseAngle</key>
		<integer>0</integer>
		<key>selected</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>1</integer>
		<key>expInside</key>
		<integer>0</integer>
		<key>expOutside</key>
		<integer>0</integer>
		<key>contrast</key>
		<integer>3</integer>
		<key>tintIndex</key>
		<integer>0</integer>
		<key>ellipseCenterX</key>
		<integer>0</integer>
		<key>ellipseCenterY</key>
		<integer>0</integer>
		<key>ellipseA</key>
		<integer>0</integer>
		<key>ellipseB</key>
		<integer>0</integer>
		<key>ellipseAngle</key>
		<integer>0</integer>
		<key>selected</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>2</integer>
		<key>expInside</key>
		<integer>3</integer>
		<key>expOutside</key>
		<integer>0</integer>
		<key>contrast</key>
		<integer>2</integer>
		<key>tintIndex</key>
		<integer>1</integer>
		<key>ellipseCenterX</key>
		<integer>0</integer>
		<key>ellipseCenterY</key>
		<integer>0</integer>
		<key>ellipseA</key>
		<integer>0</integer>
		<key>ellipseB</key>
		<integer>0</integer>
		<key>ellipseAngle</key>
		<integer>0</integer>
		<key>selected</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>3</integer>
		<key>expInside</key>
		<integer>0</integer>
		<key>expOutside</key>
		<integer>2</integer>
		<key>contrast</key>
		<integer>2</integer>
		<key>tintIndex</key>
		<integer>2</integer>
		<key>ellipseCenterX</key>
		<integer>0</integer>
		<key>ellipseCenterY</key>
		<integer>0</integer>
		<key>ellipseA</key>
		<integer>0</integer>
		<key>ellipseB</key>
		<integer>0</integer>
		<key>ellipseAngle</key>
		<integer>0</integer>
		<key>selected</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>4</integer>
		<key>expInside</key>
		<integer>0</integer>
		<key>expOutside</key>
		<integer>2</integer>
		<key>contrast</key>
		<integer>1</integer>
		<key>tintIndex</key>
		<integer>2</integer>
		<key>ellipseCenterX</key>
		<integer>0</integer>
		<key>ellipseCenterY</key>
		<integer>0</integer>
		<key>ellipseA</key>
		<integer>0</integer>
		<key>ellipseB</key>
		<integer>0</integer>
		<key>ellipseAngle</key>
		<integer>0</integer>
		<key>selected</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>5</integer>
		<key>expInside</key>
		<integer>2</integer>
		<key>expOutside</key>
		<integer>0</integer>
		<key>contrast</key>
		<integer>4</integer>
		<key>tintIndex</key>
		<integer>3</integer>
		<key>ellipseCenterX</key>
		<integer>0</integer>
		<key>ellipseCenterY</key>
		<integer>0</integer>
		<key>ellipseA</key>
		<integer>0</integer>
		<key>ellipseB</key>
		<integer>0</integer>
		<key>ellipseAngle</key>
		<integer>0</integer>
		<key>selected</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
