<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>index</key>
		<integer>0</integer>
		<key>expInside</key>
		<real>2.520548</real>
		<key>expOutside</key>
		<real>-3.525114</real>
		<key>contrast</key>
		<real>2.60274</real>
		<key>tintIndex</key>
		<integer>1</integer>
		<key>ellipseCenterX</key>
		<real>-0.049999</real>
		<key>ellipseCenterY</key>
		<real>-0.014301</real>
		<key>ellipseA</key>
		<real>2.241235</real>
		<key>ellipseB</key>
		<real>2.526329</real>
		<key>ellipseAngle</key>
		<real>-0.01143</real>
		<key>selected</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>1</integer>
		<key>expInside</key>
		<integer>2</integer>
		<key>expOutside</key>
		<integer>-2</integer>
		<key>contrast</key>
		<integer>3</integer>
		<key>tintIndex</key>
		<integer>2</integer>
		<key>ellipseCenterX</key>
		<real>0.30677</real>
		<key>ellipseCenterY</key>
		<real>0.050763</real>
		<key>ellipseA</key>
		<real>1.023425</real>
		<key>ellipseB</key>
		<real>1.610967</real>
		<key>ellipseAngle</key>
		<real>-0.03708</real>
		<key>selected</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>2</integer>
		<key>expInside</key>
		<real>3.561644</real>
		<key>expOutside</key>
		<integer>-2</integer>
		<key>contrast</key>
		<real>2.575343</real>
		<key>tintIndex</key>
		<integer>0</integer>
		<key>ellipseCenterX</key>
		<real>-0.007812</real>
		<key>ellipseCenterY</key>
		<real>-0.25625</real>
		<key>ellipseA</key>
		<real>1.840691</real>
		<key>ellipseB</key>
		<real>1.579216</real>
		<key>ellipseAngle</key>
		<real>0.008489</real>
		<key>selected</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>3</integer>
		<key>expInside</key>
		<integer>4</integer>
		<key>expOutside</key>
		<integer>-3</integer>
		<key>contrast</key>
		<integer>2</integer>
		<key>tintIndex</key>
		<integer>3</integer>
		<key>ellipseCenterX</key>
		<real>-0.007156</real>
		<key>ellipseCenterY</key>
		<real>0.01039</real>
		<key>ellipseA</key>
		<real>1.518956</real>
		<key>ellipseB</key>
		<real>1.096012</real>
		<key>ellipseAngle</key>
		<real>-0.020606</real>
		<key>selected</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>4</integer>
		<key>expInside</key>
		<integer>2</integer>
		<key>expOutside</key>
		<integer>-2</integer>
		<key>contrast</key>
		<real>3.986301</real>
		<key>tintIndex</key>
		<integer>2</integer>
		<key>ellipseCenterX</key>
		<real>-0.080105</real>
		<key>ellipseCenterY</key>
		<real>-1.579423</real>
		<key>ellipseA</key>
		<real>5.290686</real>
		<key>ellipseB</key>
		<real>3.384611</real>
		<key>ellipseAngle</key>
		<real>-0.021259</real>
		<key>selected</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>index</key>
		<integer>5</integer>
		<key>expInside</key>
		<real>1.844749</real>
		<key>expOutside</key>
		<real>-2.009132</real>
		<key>contrast</key>
		<real>3.068497</real>
		<key>tintIndex</key>
		<integer>1</integer>
		<key>ellipseCenterX</key>
		<real>-0.888956</real>
		<key>ellipseCenterY</key>
		<real>0.082776</real>
		<key>ellipseA</key>
		<real>2.232386</real>
		<key>ellipseB</key>
		<real>5.345735</real>
		<key>ellipseAngle</key>
		<real>0.011575</real>
		<key>selected</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
